
<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<style>
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
.raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.size {
	font-size: 1.25em;
}
.size2 {
	font-size: 1.375em; 
}
</style>

</head>

<body>
	<div class="container">
		<h1 class='raleway'>Precog Summer '17</h1>
		<h2 class='raleway'>Task A - Made by <a href="http://github.com/arsh23">Arsh</a></h2>
		<p class='raleway size2'>
			
			Analysis of 5 verified Twitter Police accounts of Indian cities.<br>
			Number of Tweets collected:<br>
		</p>
		<ol class='raleway size'>
			<li>@DelhiPolice - 349</li>
			<li>@MumbaiPolice - 355</li>
			<li>@hydcitypolice - 355</li>
			<li>@KolkataPolice - 362</li>
			<li>@punecitypolice - 341</li>
		</ol><br>
		<p class='raleway size2'>
			Links to analysis graphs:<br>
		</p>	
		<div class="btn-group-vertical" role="group" aria-label="...">
			<a href="/freq">
			<button type="button" class="btn btn-default">Frequency of Tweets</button></a>
			<a href="/top10">
			<button type="button" class="btn btn-default">Top Hashtags</button></a>
			<a href="/sentiment">
			<button type="button" class="btn btn-default">Sentiment Analysis</button></a>
			<a href="/engagement">
			<button type="button" class="btn btn-default">User Engagement</button></a>
		</div>
	</div>
</body>

</html>
