{% extends "base.html" %}
{% block heading %}Frequency of Tweets{% endblock %}

{% block script %}
<script>
	var data;
	var selectedcirclecolor;


	//size and margin
	var basewidth = $('.graph').width()
	var baseheight = $(window).height()*75 / 100; 
	var margin = {
		top: 30,
		right: 30,
		bottom: 60,
		left: 60
	},
	width = basewidth - margin.left - margin.right,
	height = baseheight - margin.top - margin.bottom;

	// setup x 
	var xValue = function(d) { return d.hr;}, 
		xScale = d3.scaleLinear().range([0, width]), 
		xMap = function(d) { return xScale(xValue(d));}, 
		xAxis = d3.axisBottom().scale(xScale).ticks(25).tickFormat(
		function(d,i) {
			if(i==0 || i==25)
				return ''
			else
				return d3.format("02")(d)
		})
		xScale.domain([-1,23]);

	// setup y 
	var yValue = function(d) { return d.day;}, 
		yScale = d3.scaleLinear().range([height, 0]), 
		yMap = function(d) { return yScale(yValue(d));}, 
		yAxis = d3.axisLeft().scale(yScale).ticks(7).tickFormat(
		function(d,i) {
			day = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
			if(i==0 || i==8)
				return ''
			else
				return day[d]
				//return d3.timeFormat("%a")(d)
		}) 
		//yScale.domain([d3.min(data, yValue), d3.max(data, yValue)]);
		yScale.domain([-1,6]);

	// setup size 
	var sizeValue = function(d) { return d.amt;}, 
		sizeScale = d3.scaleLinear().range([3, width/48 + 1]), 
		sizeMap = function(d) { return sizeScale(sizeValue(d));};
	var colorScale = d3.scaleLinear()
		.range(['#90CAF9', '#1A237E']),
		colorMap = function(d) { return colorScale(sizeValue(d));};

	// main canvas
	var svg = d3.select('.graph')
		.append('svg')
		.attr('width', width + margin.left + margin.right)
		.attr('height', height + margin.top + margin.bottom)
	var canvas = svg.append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")") 

	// x-axis
	canvas.append("g")
		.attr("class", "x axis")
		.attr("transform", "translate(0," + height + ")")
		.call(xAxis)
	canvas.append("text")
		.attr("class", "label")
		.attr("x", width/2)
		.attr("y", height + margin.bottom -10)
		.style("text-anchor", "middle")
		.text("Hour (24-hour clock)");
	canvas.append("text")
		.attr("class", "label label-text")
		.attr("x", width)
		.attr("y", height + margin.bottom -10 )
		.style("text-anchor", "end")
	canvas.append("text")
		.attr("class", "label label-info")
		.attr("x", 0)
		.attr("y", height + margin.bottom -20 )
		.style("text-anchor", "start")
		.text("Number: (mouse over a point to view)")

	// y-axis
	canvas.append("g")
		.attr("class", "y axis")
		.call(yAxis)
	canvas.append("text")
		.attr("class", "label")
		.attr("x", 0 - margin.left + 20)
		.attr("y", height/2)
		.style("text-anchor", "middle")
		.text("Day");

	// add grid lines
	var grid = canvas.append("g")
		.attr("class", "grid")
	grid.selectAll("line.horizontalGrid")
		.data(yScale.ticks(7)).enter()
		.append("line")
		.attr("class","horizontalGrid")
		.attr("x1" , 0)
		.attr("x2" , width)
		.attr("y1" , function(d){ return yScale(d);})
		.attr("y2" , function(d){ return yScale(d);})
	grid.selectAll("line.verticalGrid")
		.data(xScale.ticks(25)).enter()
		.append("line")
		.attr("class","verticalGrid")
		.attr("x1" , function(d){ return xScale(d);})
		.attr("x2" , function(d){ return xScale(d);})
		.attr("y1" , 0)
		.attr("y2" , height)

	var initgraph = function(user,data) {
		sizeScale.domain([d3.min(data, sizeValue), d3.max(data, sizeValue)]);
		colorScale.domain([d3.min(data, sizeValue), d3.max(data, sizeValue)])
		canvas.select(".label-text").text("~ @"+user);
	}
	var drawgraph = function(data) {
		var circle = canvas
			.selectAll('circle')
			.data(data)

			//remove extra data
			circle.exit().remove()

			// Add new data
			circle.enter()
			.append("circle")
			.on("mouseenter", updatedata)
			.on("mouseleave", removedata)
			.attr("cx", xMap)
			.attr("cy",yMap)
			.attr('fill',colorMap)
			.transition()
			.duration(200)
			.delay(function(d, i) {
				return (20 * i)
			})
			.attr("r",sizeMap);

			// Update data
			circle
			.attr("cx", xMap)
			.attr("cy",yMap)
			.attr('fill',colorMap)
			.attr("r",0)
			.transition()
			.duration(200)
			.delay(function(d, i) {
				return (20 * i)
			})
			.attr("r",sizeMap);

	}
	var graph = function(user) {
		d3.json("/get/freq",function(data) {
			data = data[user]
			console.log(user)
			initgraph(user,data);
			drawgraph(data);
		});
	}
	graph("MumbaiPolice");
	
	var updatedata = function(d) {
		d3.select(this)
		.attr("fill","#64FFDA")

		d3.select('.label-info')
		.text('Number: '+d['amt'].toString())
	}

	var removedata = function(d) {
		d3.select(this)
		.attr("fill", colorMap)

		d3.select('.label-info')
		.text('Number: (mouse over a point to view)')
	}
		

</script>
{% endblock %}
