{% extends "base.html" %}
{% block heading %}Sentiment Analysis{% endblock %}


{% block head %}
<style>
    .label {
	font-size: 0.9375em !important;
	font-family: 'Overpass Mono', monospace;
    }
    path.slice{
		stroke-width:2px;
	}

	polyline{
		opacity: .3;
		stroke: black;
		stroke-width: 2px;
		fill: none;
	}
</style>
{% endblock %}

{% block script %}
<script>
	var data;


	//size and margin
	var basewidth = $('.graph').width()
	var baseheight = $(window).height()*75 / 100; 
	var margin = {
		top: 10,
		right: 30,
		bottom: 20,
		left: 30
	},
	width = basewidth - margin.left - margin.right,
	height = baseheight - margin.top - margin.bottom;


	// main canvas
	var svg = d3.select('.graph')
	    .append('svg')
	    .attr('width', width + margin.left + margin.right)
	    .attr('height', height + margin.top + margin.bottom)
	var canvas = svg.append("g")
	    .attr("class", "points")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")	
	    .append("g")
	    .attr("transform", "translate("+width/2+","+height/2+")");

	canvas.append("g")
		.attr("class", "slices");
	canvas.append("g")
		.attr("class", "labelName");
	canvas.append("g")
		.attr("class", "labelValue");
	canvas.append("g")
		.attr("class", "lines");

	radius = Math.min(width, height) / 2;

	var pie = d3.pie()
		.sort(null)
		.padAngle(.03)
		.value(function(d) {
			return d.value;
		});

	var arc = d3.arc()
		.outerRadius(radius * 0.8)
		.innerRadius(radius * 0.4);

	var outerArc = d3.arc()
		.innerRadius(radius * 0.9)
		.outerRadius(radius * 0.9);


	var fill = function(d) {
		if(d == "negative")
			return "#FF5252"
		if(d == "slightly negative")
			return "#FFAB40"
		if(d == "mixed")
			return "#7C4DFF"
		if(d == "slightly positive")
			return "#B2FF59"
		if(d == "positive")
			return "#00C853"
	}

	canvas.append("text")
		.attr("class", "label label-text")
		.attr("x", 0)
		.attr("y", height/2 + margin.bottom -10 )
		.style("text-anchor", "middle")

	function draw(data) {

		/* ------- PIE SLICES -------*/
		var slice = canvas.select(".slices").selectAll("path.slice")
			.data(pie(data), function(d){ return d.data.label });

		slice.enter()
			.insert("path")
			.style("fill", function(d) { return fill(d.data.label); })
			.attr("class", "slice")
		slice
			.transition().duration(1000)
			.attrTween("d", function(d) {
				this._current = this._current || d;
				var interpolate = d3.interpolate(this._current, d);
				this._current = interpolate(0);
				return function(t) {
					return arc(interpolate(t));
				};
			})

		slice.exit()
			.remove();


		/* ------- TEXT LABELS -------*/

		var text = canvas.select(".labelName").selectAll("text")
			.data(pie(data), function(d){ return d.data.label });

		text.enter()
			.append("text")
			.attr("dy", ".35em")
			.text(function(d) {
				return (d.data.label+": "+d.value);
			});

		function midAngle(d){
			return d.startAngle + (d.endAngle - d.startAngle)/2;
		}

		text
			.transition().duration(1000)
			.attrTween("transform", function(d) {
				this._current = this._current || d;
				var interpolate = d3.interpolate(this._current, d);
				this._current = interpolate(0);
				return function(t) {
					var d2 = interpolate(t);
					var pos = outerArc.centroid(d2);
					pos[0] = radius * (midAngle(d2) < Math.PI ? 1 : -1);
					return "translate("+ pos +")";
				};
			})
			.styleTween("text-anchor", function(d){
				this._current = this._current || d;
				var interpolate = d3.interpolate(this._current, d);
				this._current = interpolate(0);
				return function(t) {
					var d2 = interpolate(t);
					return midAngle(d2) < Math.PI ? "start":"end";
				};
			})
			.text(function(d) {
				return (d.data.label+": "+d.value);
			});


		text.exit()
			.remove();

		/* ------- SLICE TO TEXT POLYLINES -------*/

		var polyline = canvas.select(".lines").selectAll("polyline")
			.data(pie(data), function(d){ return d.data.label });

		polyline.enter()
			.append("polyline");

		polyline.transition().duration(1000)
			.attrTween("points", function(d){
			this._current = this._current || d;
			var interpolate = d3.interpolate(this._current, d);
			this._current = interpolate(0);
			return function(t) {
				var d2 = interpolate(t);
				var pos = outerArc.centroid(d2);
				pos[0] = radius * 0.95 * (midAngle(d2) < Math.PI ? 1 : -1);
				return [arc.centroid(d2), outerArc.centroid(d2), pos];
			};
			});

		polyline.exit()
			.remove();
	};


	var graph = function(user) {
		d3.json('/get/sentiment',function(data) {
			data = data[user]
			data2 = []
			for(i=0;i<data.length;i++) {
				key = Object.keys(data[i]);
				if(key[0] != "neutral"){
					data2.push({
						"label": key[0],
						"value": data[i][key]
					});
				} else {
					canvas.select(".label-text")
					.text("With "+data[i][key]+" Neutral   ~ @"+user);
				}
			}
			console.log(data2)
			draw(data2)
			draw(data2)
			});
	}
	graph("MumbaiPolice")

</script>
{% endblock %}
